<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuarios-page</title>
</head>
<body>
    <main style="text-align: center;">
        <table>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.idade}}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>